html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: sans-serif;
  font-size: 15px;
  overflow-x: hidden;

  &.no-scroll {
    overflow-y: hidden;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

textarea:focus,
input:focus,
button {
  outline: none;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: $container-width;
  margin: auto;
}
