$color-dark: #1e1e1e;
$color-dark-light: #424242;
$color-fuxia: #ff005c;
$color-gray: #a0a0a0;

$red-hover: rgba(255, 0, 0, 0.2);

$body-font-size: 15px;

$container-width: 1136px;

$mobile: 320px;
$mobile-middle: 360px;
$tablet-width: 768px;
$desktop-width: $container-width - 1px;
