<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta class="js-meta-viewport" name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>ROOM :: {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="./assets/template_styles.css">
</head>
<body>
{% include 'template-parts/website-header.twig' %}
<main class="website-workarea">
    {% block page %}{% endblock %}
</main>
{% include 'template-parts/website-footer.twig' %}
<script src="./assets/js/vendor/ptr.min.js"></script>
<script src="./assets/js/build.js"></script>
</body>
</html>
